<div class="container">
    <div class="row">
        <div class="col-12">
            <div id="nav">
                <div class="nav__home"><a href="/" style="text-decoration: none; color: #000; font-size: 20px;">Home</a>
                </div>
                <form action="/search" method="get" style="margin: 0;">
                    <div class="nav__search">
                        <div class="input-group">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button"
                                placeholder="Search here..." style="margin: 0;" name="search">
                            <select class="form-select" id="inputGroupSelect02" name="type">
                                <option value="name" selected>Tên phim</option>
                                <option value="genre">Thể loại phim</option>
                                <option value="cast">Diễn viên</option>
                            </select>
                        </div>
                        <button class="button" type="submit">Search</button>
                    </div>
                </form>
                <form action="/user/logout" method="post" style="margin: 0;">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Chào {{{name}}}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><a class="dropdown-item" href="user/favorite">Danh sách phim yêu thích</a></li>
                            <li>
                                <button class="dropdown-item" type="submit">Đăng xuất</button>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="film__component">
                <div class="film__header">
                    <div class="film__title">Kết quả tìm kiếm "{{{search}}}"</div>
                </div>
                <div class="film__list">
                    {{#each movies}}
                    <a class="card" style="width: 22%; text-decoration: none; color: #000;" href="/movie/{{id}}">
                        <img src="{{img}}" class="card-img-top" alt="{{title}}" style="height: 80%;">
                        <div class="card-body">
                            <h5 class="card-title">{{{title}}}</h5>
                            <p class="card-text">Ratings: {{{rating}}}</p>
                        </div>
                    </a>
                    {{/each}}
                </div>
                <form action="/search" method="get">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <input type="text" hidden name="search" value="{{search}}" ></input>
                            <input type="text" hidden name="type" value="{{type}}"></input>
                            {{#time totalPageMovie}}
                            {{#ifEqual this ../page}}
                            <li class="page-item active"><button class="page-link" type="submit" name="page"
                                    value="{{this}}">{{{this}}}</button></li>
                            {{/ifEqual}}
                            {{#ifNotEqual this ../page}}
                            <li class="page-item"><button class="page-link" type="submit" name="page"
                                    value="{{this}}">{{{this}}}</button></li>
                            {{/ifNotEqual}}
                            {{/time}}
                        </ul>
                    </nav>
                </form>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <div id="footer">
                Copyright &copy by Nguyễn Văn Hào - 20120470
            </div>
        </div>
    </div>
</div>